<%# app/views/my_hands/show.html.erb %>
<h1>手牌記録詳細</h1>

<p><strong>記録日:</strong> <%= @my_hand.date&.strftime('%Y/%m/%d') %></p>
<p><strong>局情報:</strong> <%= @my_hand.round_info %></p>
<p><strong>スコア:</strong> <%= @my_hand.score %></p>
<p><strong>役名:</strong> <%= @my_hand.yaku_name %></p>

<h2>手牌データ</h2>
<% if @my_hand.hand_data.present? %>
  <ul style="list-style-type: none; padding: 0;">
    <% @my_hand.hand_data.each do |suit_key, tiles| %>
      <li style="margin-bottom: 5px;">
        <strong><%= suit_name(suit_key) %>:</strong> <%# suit_nameは後でヘルパーで定義すると便利です %>
        <% if tiles.present? %>
          <% tiles.each do |tile_char, count| %>
            <%= tile_char %> (<%= count %>枚) &nbsp;
          <% end %>
        <% else %>
          なし
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>手牌データがありません。</p>
<% end %>

<div style="margin-top: 20px;">
  <%= link_to '一覧に戻る', my_hands_path, style: "text-decoration: none; color: blue;" %>
</div>

<%# suit_name ヘルパーメソッドのプレースホルダ（後で app/helpers/my_hands_helper.rb に記述） %>
<%# これは直接ビューに書くのではなく、ヘルパーファイルに書くのがRailsの作法です %>
<% ruby do %>
def suit_name(key)
  case key.to_s
  when 'man' then '萬子'
  when 'pin' then '筒子'
  when 'sou' then '索子'
  when 'ji' then '字牌'
  else key.to_s
  end
end
<% end %>
